{% extends 'layout.html' %}

{% block title %}{{ current_user.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <p class="pull-right">
                Welcome, <strong>{{ current_user.username }}</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Toggle time</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('log') }}" method=post role="form">

                        <input id="data-time" type=hidden name=time value="" type="text" class="form-control">
                        <button type="submit" class="btn btn-primary sub-time" {% if not current_user.is_checked_in()["checked-in"] == 'false' %} disabled="disabled" {% endif %}>Check in</button>
                        <button type="submit" class="btn btn-danger sub-time" {% if not current_user.is_checked_in()["checked-in"] == 'true' %} disabled="disabled" {% endif %} >Checkout</button>
{#                        <button type="submit" class="btn btn-primary">{%  if current_user.active[0].upper() == 'T'  %}Checkout{% else %}Check in{% endif %}</button>#}
                    </form>
                    <div class="row" id="time-table">
                        <h4>Today's Checkins</h4>
                        <table id="today-table" class="table table-bordered">
                            {% for r in data %}
                                <tr><td>in: {{ r["in"] }} </td><td>out: {{ r["out"] }} </td></tr>
                            {% endfor %}

                        </table>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">File</h3>
                </div>
                <div class="panel-body text-center">
                    <form action="{{ url_for('download_file') }}" method=get>

                        <button type="submit" class="btn btn-success">Download time sheet</button>

                        <button onclick="parent.location='{{ url_for('upload_file') }}'" type="button" class="btn btn-default">Upload new time sheet</button>
                    </form>
                    <div class="span5" id="sandbox-container"><input type="text"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">

    <div class="col-md-6">
        <h2>
            Past
        </h2>
    </div>
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered">
{#                {% for r in data %}#}
{#                    <tr><td>{{ r["week"] }}</td></tr>#}
{#                {% endfor %}#}
            </table>
        </div>
    </div>
    <div class="row">
    <iframe id="ifmd" frameborder="0" width="1200" height="400"></iframe>
    </div>
    <script>
        $(document).ready(function() {
            $(window).resize(function() {
                $('#ifmd').width($(window).width() * 0.9);
            });


{#            var checkIns = {{ data | safe }} ;#}
{#            var tbData = "";#}
{#            for(var x = 0; x < checkIns.length; x++){#}
{#                tbData += '<tr>' + '<td>' + 'in:' + new Date(checkIns[x]["in"]).toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1") + '</td>' + '<td>' + 'out:' + new Date(checkIns[x]["out"]).toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1"); + '</td></tr>'#}
{#            }#}

{#            $("#time-table").html(tbData)#}

            $(".sub-time").click(function(){
                $("#data-time").val(new Date())
            })

            var writeTxt = function(pos, obj, posx){
                var multiplier=0;
                if (posx.length <= 3){
                    multiplier = (posx.length-1)*8;
                }
                // write time in
                var data = new Date(obj["in"])
                var mins = ('0' + data.getMinutes()).slice(-2)
                doc.text(pos+multiplier, 91, data.getHours().toString()+":"+mins );

                //write time out
                var data = new Date(obj["out"])
                var mins = ('0' + data.getMinutes()).slice(-2)
                doc.text(pos+multiplier, 105, data.getHours().toString()+":"+mins );


            }

            {# using safe to enable JSON to be rendered #}
            var logData = {{ fdata | safe }} ;
            {# sort arr by day to get start and end #}
            //console.log(logData)
            logData.sort(function(a,b){
                var c = a["day"]
                var d = b["day"]
                return c-d;
            })
            //console.log(logData)
            var imgData = IMAGE_DATA;
            var doc = new jsPDF('landscape');

            doc.setFontSize(8);
            doc.addImage(imgData, 'JPEG', 10, 20, 295, 190);
            var POSITION_TOTAL = [200, 45,68,97,123,149,176]

            var TOTALS = [[],[],[],[],[],[],[]];
            for(var x = 0; x < logData.length; x++){
                if (logData[x]["day"]== 1){
                    TOTALS[1].push(1)
                    writeTxt(42,logData[x], TOTALS[1]);

                }
                else if(logData[x]["day"]== 2){
                    TOTALS[2].push(1)
                    writeTxt(63, logData[x], TOTALS[2])

                }else if(logData[x]["day"]== 3){
                    TOTALS[3].push(1)
                    writeTxt(90, logData[x], TOTALS[3])

                }else if(logData[x]["day"]== 4){
                    TOTALS[4].push(1)
                    writeTxt(115, logData[x], TOTALS[4])

                }else if(logData[x]["day"]== 5){
                    TOTALS[5].push(1)
                    writeTxt(125, logData[x], TOTALS[5])

                }
            }

            tot()

            //write total time worked
            function tot (){
                for(var day = 0; day < TOTALS.length; day++){
                    var total=0.0;
                    for(var checkin = 0; checkin < TOTALS[day].length; checkin++){
                        if (logData[checkin]["day"] == day){

                            var ms = new Date(logData[checkin]["out"]) - new Date(logData[checkin]["in"])
                            console.log(total + " before ")
                            total = parseFloat(total) + ((ms % 86400000) / 3600000) ;
                            console.log(total+ " after ")
                        }
                    }
                    doc.text(POSITION_TOTAL[day], 122, total.toFixed(2)+" hrs");
                }
            }

            var se = getStartEnd(logData)
            doc.text(218, 53, (se[0]+ " - "+ se[1]));

            var string = doc.output('datauristring');

            $('iframe').attr('src', string);

        });

        function getStartEnd(data){
            var arr = ["",""]
            var st = new Date(data[0]["in"])
            var dayst = st.getDate()
            var monthst = st.getMonth() + 1
            var yearst = st.getFullYear()

            arr[0] = monthst + "/" + dayst + "/" + yearst
            var end = new Date(data[data.length-1]["out"])
            var dayend = end.getDate()
            var monthend = end.getMonth() + 1
            var yearend = end.getFullYear()
            arr[1] = monthend + "/" + dayend + "/" + yearend

            return arr
        }

        Number.prototype.toTime = function () {
            var seconds = Math.floor(this),
                    hours = Math.floor(seconds / 3600);
            seconds -= hours*3600;
            var minutes = Math.floor(seconds / 60);
            seconds -= minutes*60;

            if (hours   < 10) {hours   = "0"+hours;}
            if (minutes < 10) {minutes = "0"+minutes;}
            if (seconds < 10) {seconds = "0"+seconds;}
            return hours+':'+minutes+':'+seconds;
        }

        Date.prototype.getWeekNumber = function(){
            var d = new Date(+this);
            d.setHours(0,0,0);
            d.setDate(d.getDate()+4-(d.getDay()||7));
            return Math.ceil((((d-new Date(d.getFullYear(),0,1))/8.64e7)+1)/7);
        };


    </script>
{% endblock %}
