{% extends 'layout.html' %}

{% block title %}{{ current_user.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <p class="pull-right">
                Welcome, <strong>{{ current_user.username }}</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Toggle time</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('log') }}" method=post role="form">

                        <input id="data-time" type=hidden name=time value="" type="text" class="form-control">
                        <button type="submit" class="btn btn-primary" {% if not current_user.is_checked_in()["checked-in"] == 'false' %} disabled="disabled" {% endif %}>Check in</button>
                        <button type="submit" class="btn btn-danger" {% if not current_user.is_checked_in()["checked-in"] == 'true' %} disabled="disabled" {% endif %} >Checkout</button>
{#                        <button type="submit" class="btn btn-primary">{%  if current_user.active[0].upper() == 'T'  %}Checkout{% else %}Check in{% endif %}</button>#}
                    </form>
                    <div class="row" id="time-table">

                        <table class="table">
                            {% for r in data %}
                                <tr><td>in: {{ r["in"] }} </td><td>out: {{ r["out"] }} </td></tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">File</h3>
                </div>
                <div class="panel-body text-center">
                    <form action="{{ url_for('download_file') }}" method=get>

                        <button type="submit" class="btn btn-success">Download time sheet</button>

                        <button onclick="parent.location='{{ url_for('upload_file') }}'" type="button" class="btn btn-default">Upload new time sheet</button>
                    </form>
                    <div class="span5" id="sandbox-container"><input type="text"></div>                </div>
            </div>

        </div>
    </div>
    <div class="row">

    <div class="col-md-6">
        <h2>
            Past
        </h2>
    </div>
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered">
{#                {% for r in data %}#}
{#                    <tr><td>{{ r["week"] }}</td></tr>#}
{#                {% endfor %}#}
            </table>
        </div>
    </div>
    <div class="row">
    <iframe id="ifmd" frameborder="0" width="1200" height="400"></iframe>
    </div>
    <script>
        $(document).ready(function() {
            $(window).resize(function() {
                $('#ifmd').width($(window).width() * 0.9);
            });

            var writeTxt = function(pos, obj){
                var data = new Date(obj["in"])
                doc.text(pos, 91, data.getHours().toString()+":"+data.getMinutes().toString() );
                var data = new Date(obj["out"])
                doc.text(pos, 105, data.getHours().toString()+":"+data.getMinutes().toString() );
                var ms = new Date(obj["out"]) - new Date(obj["in"])
                var diffHrs = ((ms % 86400000) / 3600000).toFixed(2);
                doc.text(pos, 122, diffHrs.toString());
            }


            var logdata = {{ fdata | safe }} ;
            var imgData = IMAGE_DATA;
            var doc = new jsPDF('landscape');

            doc.setFontSize(8);
            doc.addImage(imgData, 'JPEG', 10, 20, 295, 190);
            var start= '';
            var end= '';
            for(var x = 0; x < logdata.length; x++){
                if (logdata[x]["day"]== 0){
                    writeTxt(42,logdata[x]);
                    var st = new Date(logdata[x]["in"])
                    var day = st.getDate()
                    var month = st.getMonth() + 1
                    var year = st.getFullYear()
                    start += day + "/" + month + "/" + year
                }
                else if(logdata[x]["day"]== 1){
                    writeTxt(65, logdata[x])

                }else if(logdata[x]["day"]== 2){
                    writeTxt(90, logdata[x])

                }else if(logdata[x]["day"]== 3){
                    writeTxt(115, logdata[x])

                }else if(logdata[x]["day"]== 4){
                    writeTxt(125, logdata[x])
                    var st = new Date(logdata[x]["in"])
                    var day = st.getDate()
                    var month = st.getMonth() + 1
                    var year = st.getFullYear()
                    end += day + "/" + month + "/" + year                }
            }
            end += ('10' + "/" + '1'+ "/" + '2013')

            doc.text(218, 53, (start+ " - "+ end).toString());

            var string = doc.output('datauristring');

            $('iframe').attr('src', string);

        });

        Date.prototype.getWeekNumber = function(){
            var d = new Date(+this);
            d.setHours(0,0,0);
            d.setDate(d.getDate()+4-(d.getDay()||7));
            return Math.ceil((((d-new Date(d.getFullYear(),0,1))/8.64e7)+1)/7);
        };
    </script>
{% endblock %}
